/*
 * CDR Admin API
 *
 * Data Holder Consumer Data Standards Administration End Points created by the Data Standards Body (DSB), with the Data Standards Chair as the decision maker
 *
 * The version of the OpenAPI document: 1.15.0
 * Contact: contact@consumerdatastandards.gov.au
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Mvc;
using Microsoft.Azure.WebJobs;
using Microsoft.Azure.WebJobs.Extensions.Http;

namespace Org.OpenAPITools.Apis
{ 
    public partial class AdminApi
    { 
        [FunctionName("AdminApi_GetMetrics")]
        public async Task<IActionResult> _GetMetrics([HttpTrigger(AuthorizationLevel.Anonymous, "GET", Route = "/admin/metrics")]HttpRequest req, ExecutionContext context)
        {
            var method = this.GetType().GetMethod("GetMetrics");

            return method != null 
                ? (await ((Task<IActionResult>)method.Invoke(this, new object[] { req, context })).ConfigureAwait(false))
                : new StatusCodeResult((int)HttpStatusCode.NotImplemented);
        }

        [FunctionName("AdminApi_MetadataUpdate")]
        public async Task<IActionResult> _MetadataUpdate([HttpTrigger(AuthorizationLevel.Anonymous, "POST", Route = "/admin/register/metadata")]HttpRequest req, ExecutionContext context)
        {
            var method = this.GetType().GetMethod("MetadataUpdate");

            return method != null 
                ? (await ((Task<IActionResult>)method.Invoke(this, new object[] { req, context })).ConfigureAwait(false))
                : new StatusCodeResult((int)HttpStatusCode.NotImplemented);
        }
    }
}

